<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/litera/bootstrap.min.css" integrity="sha512-FAKbqNc1K2O4cnjyyiTs7loU3hwtcTF5y59TnJMcPJK/fbzY8kJaMGak8/Nsg5VL9CLiUf7M06ct+mleM2UnwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>